#BUS_SORT
#W
in1\[7\]
in1\[6\]
in1\[5\]
in1\[4\]
in1\[3\]
in1\[2\]
in1\[1\]
in1\[0\]
in2\[7\]
in2\[6\]
in2\[5\]
in2\[4\]
in2\[3\]
in2\[2\]
in2\[1\]
in2\[0\]
op\[2\]
op\[1\]
op\[0\]

#E
out\[7\]
out\[6\]
out\[5\]
out\[4\]
out\[3\]
out\[2\]
out\[1\]
out\[0\]